@{
    Layout = "_Layout";


    // int cartTotalPrice = ViewBag.CartTotalPrice;

}

<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg" style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                </div>
            </div>
        </div>

    </section>

</div>


<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt">MY ORDER</h1>
                </div>
            </div>
            <hr class="divider-w pt-20">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-border checkout-table">
                        <tbody>



                            <tr>
                                <th class="hidden-xs">Item</th>
                                <th>ProductName</th>
                                <th class="hidden-xs">Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>




                            @foreach (var order in Model)
                            {

                                <tr style="text-align:center;">
                                    <td class="hidden-xs"><a href="#"><img src="~/images/upload/@order.productImage" alt="Accessories Pack" /></a></td>
                                    <td>
                                        <br></br>
                                        <h5 class="product-title font-alt">@order.productName</h5>
                                    </td>
                                    <td class="hidden-xs">
                                        <br></br>
                                        <h5 class="product-title font-alt" id="price">@order.price</h5>
                                    </td>
                                    <td>
                                        <br></br>
                                        <input type="hidden" name="quantity" id="quantity" value="@order.orderQuantity" disabled style="background-color:white;" />
                                        <p>@order.orderQuantity</p>
                                    </td>



                                    <td>
                                        <br></br>
                                        <h5 class="product-title font-alt" id="totalPrice">@order.totalPrice 원</h5>
                                    </td>

                                    <td class="pr-remove"> <br></br><a href="/Order/OrderDelete?orderId= @order.orderId" title="Remove"><i class="fa fa-times"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" type="hidden" id="" name="" placeholder="Coupon code" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="form-group">
                        @*     <button class="btn btn-block btn-round btn-d pull-right" type="submit">Update Cart</button> *@
                    </div>
                </div>
            </div>
            <hr class="divider-w">
            <div class="row mt-70">
                <div class="col-sm-5 col-sm-offset-7">
                    <div class="shop-Cart-totalbox">
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section scripts {

        <script>




        </script>
    }
