

@{



    List<ProductImg> ProductImgList = ViewBag.ProductImgList;


}

<style>

    .form-control {
        text-transform: lowercase;
    }

</style>

<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg" style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                </div>
            </div>
        </div>

    </section>

</div>
<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-sm-40">
                    <a class="gallery">
                        <img src="/images/upload/@Model.productImage" alt="Single Product Image"
                             style=" width:467px;  height:550px; " />
                    </a>

                    @if (@ProductImgList != null)
                    {

                        <ul class="product-gallery">

                            @foreach (var list in ProductImgList)
                            {
                                <li>
                                    <a class="gallery"></a><img src="/images/upload/@list.productImage" alt="Single Product"
                                                                style=" width:200px;  height:100px; " />
                                </li>

                            }

                        </ul>

                    }
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="product-title font-alt">@Model.productName</h1>
                        </div>
                    </div>
                  
                   
                            <h4> <p>@Model.productPrice Won</p></h4>
                  
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="description">
                            
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                       
                       @if (Context.Session.GetInt32("memberId") == 1){ 
                            <div class="col-sm-8"><a class="btn btn-lg btn-block btn-round btn-b" href="/Product/Update?productId=@Model.productId">상품 수정</a></div>
                      }

                   
                         
                            <form class="form-horizontal" method="post" asp-controller="Cart" asp-action="List">
                            <div class="col-sm-4 mb-sm-20">

                             

                                <input class="form-control input-lg" type="number" name="quantity" id="quantity" value="1" max="10" min="1" required="required" />
                                <input type="hidden" id="price" value="@Model.productPrice" />
                                <input type="hidden" name="price" id="totalPrice" value="0" />
                                <input type="hidden" name="productId" value="@Model.productId" />
                             
                              

                            </div>
                     
                           
                            <div class="col-sm-8"><button type="submit"  class="btn btn-lg btn-block btn-round btn-b" id="cart">Add To Cart</button></div>

                        </form>
                    


                        
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="product_meta">
                                Categories:<a href="#"> @Model.productCategoryName </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <li class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2"></span>Description</a></li>
                        <li><a href="#data-sheet" data-toggle="tab"><span class="icon-tools-2"></span>Data sheet</a></li>
                    
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                            <p>@Model.productContent</p>
                        </div>
                        <div class="tab-pane" id="data-sheet">
                            <table class="table table-striped ds-table table-responsive">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <th>Info</th>
                                    </tr>
                                    <tr>
                                        <td>Categories</td>
                                        <td>@Model.productCategoryName</td>
                                    </tr>
                                    <tr>
                                        <td>Size</td>
                                        <td>44, 46, 48</td>
                                    </tr>

                                    <tr>
                                        <td>Brand</td>
                                        <td>@Model.productBrand</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
    </section>


    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="module-title font-alt" style="font-size:15px;">


                        @if (@ProductImgList != null)
                        {

                            @foreach (var list in ProductImgList)
                            {

                                <img src="/images/upload/@list.productImage" alt="Single Product Image"
                                     style=" width:1600px;  height:750px; margin-left:-50px; " />
                                <br />

                                <br />  <br />

                                <br />



                            }
                        }

                        <img src="/images/upload/사이즈.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:-50px; " />

                        <br /><br />



                        <img src="/images/upload/디테일사진1.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:30px; " />

                        <br /><br />

                        <img src="/images/upload/디테일사진2.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:30px; " />

                        <br /><br />


                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                    </div>
                </div>
            </div>
        </div>
    </section>


   

    </main>


@section scripts {


    <script>

        $('#cart').click(function () {

            @if (Context.Session.GetInt32("memberId") == null){
                <text>
                    alert("로그인하세요");
                    return false;
            </text>
         
            }

            $('#totalPrice').val($('#price').val() * $('#quantity').val());

           

            return true;
        });







    </script>

}
           