@{



    String price = ViewBag.price;
    String category = ViewBag.category;
    String subcategory = ViewBag.subcategory;


    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;

    }




}

<style>

    .form-control {
        text-transform: uppercase;
    }



</style>

<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg" style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                </div>
            </div>
        </div>

    </section>

</div>


<div class="main">

    <section class="module-small">
        <div class="container">



            <form class="row" method="post" asp-controller="Product" asp-action="SortList">



                <div class="col-sm-4 mb-sm-20">
                    <select class="form-control" name="price">

                        @if (@price == "highPrice")
                        {
                        <option selected value="highPrice">High Price</option>
                 
                        <option value="lowPrice">Low Price</option>
                            <option value="ALL">ALL</option>
                        }

                        @if (@price == "lowPrice")
                        {
                        <option selected value="lowPrice">Low Price</option>
                       
                        <option value="highPrice">High Price</option>
                            <option value="ALL">ALL</option>
                     

                        }
                          @if (@price =="ALL")
                        {
                            <option selected="selected" value="ALL">ALL</option>
                            <option value="highPrice">High Price</option>
                            <option value="lowPrice">Low Price</option>
                        

                           
                        }
                    </select>
                </div>




                <div class="col-sm-2 mb-sm-20">
                    <select name="category" id="categoryParent" class="form-control">

                        @if( @category !="ALL")
                        {
                            <option selected disabled value="@category">@category</option>
                            <option value="ALL">ALL</option>
                            <option value="아우터">아우터</option>
                            <option value="니트">니트</option>
                            <option value="셔츠">셔츠</option>
                            <option value="바지">바지</option>
                            <option value="신발">신발</option>
                            <option value="가방">가방</option>
                            <option value="액세서리">액세서리</option>
                           

                        }
                        @if (@category == "ALL")
                        {

                            <option selected="selected" value="ALL">ALL</option>

                            <option value="아우터">아우터</option>
                            <option value="니트">니트</option>
                            <option value="셔츠">셔츠</option>
                            <option value="바지">바지</option>
                            <option value="양말">양말</option>
                            <option value="가방">가방</option>
                            <option value="액세서리">액세서리</option>


                        }


                    </select>
                </div>

                <div class="col-sm-3 mb-sm-20">
                    <select name="subcategory" id="subCategory" class="form-control">

                         @if( @subcategory =="선택" && subcategory =="")
                        {
                            <option value="선택" selected="selected" id="accommodationCityOption" value="ALL">ALL</option>

                       
                        }
                        @if (@subcategory != "선택" && subcategory != "")
                        {
                         <option value="@subcategory" selected="selected" disabled id="accommodationCityOption">@subcategory</option>
                    
                      
                        }
                    </select>
                </div>




                <div class="col-sm-3">
                    <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
                </div>
            </form>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row multi-columns-row">


                @foreach (var List in Model)
                {
                    <div class="col-sm-6 col-md-3 col-lg-3">


                        <a href="/Product/Detail?productId=@List.productId">
                            <img src="~/images/upload/@List.productImage" alt="Accessories Pack" class="image"
                                 style=" width:1000px;  height:400px; " />
                        </a>


                        <strong style="margin-left:75px;">@List.productName</strong>
                        <p style="margin-left:100px;">
                            @List.productPrice Won
                        </p>

                    </div>

                }





       
            </div>
    </section>


    <div style="margin-left:910px;">

        @if (pager.TotalPages > 0)
        {

            <ul class="pagination justify-content-end">

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a  class="page-link" asp-controller="Product" asp-action="List" asp-route-pg="@pge">@pge </a>

                    </li>

                }






            </ul>

        }


    </div>


    @section scripts {



        <script>




            $('#categoryParent').change(function () {

                if ($('#categoryParent').val() == 'ALL') {
                    $('#subCategory').empty();

                    return false;
                }


                $.ajax({

                    type: 'POST',
                    url: '/Product/CategoryCheck',
                    data: 'categoryName=' + $('#categoryParent').val(),
                    dataType: 'json',

                    success: function (SubCategoryList) {

                        if (SubCategoryList != null) {

                            $('#subCategory').empty();
                            for (var i = 0; i < SubCategoryList.length; i++) {
                                var subCategoryDTO = SubCategoryList[i]


                          

                                var option = $('<option value="' + subCategoryDTO.subCategoryName + '">' + subCategoryDTO.subCategoryName + '</option>')

                                $('#categoryId').val(subCategoryDTO.categoryId)

                                $('#subCategory').append(option)


                            }

                            $('#subCategory').niceSelect('update')



                        }

                        else {


                        }

                    },
                    error: function (a, b, c) {
                        console.log(a, b, c);
                    }

                });

            })



        </script>

    }
