@model Unique.Models.Product
@{



    List<ProductImg> ProductImgList = ViewBag.ProductImgList;


}

<style>

    .form-control {
        text-transform: lowercase;
    }

</style>

<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg" style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                </div>
            </div>
        </div>

    </section>

</div>
<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-sm-40">
                    <a class="gallery">
                        <img src="/images/upload/@Model.productImage" alt="Single Product Image"
                             style=" width:467px;  height:550px; " />
                    </a>

                    @if (@ProductImgList != null)
                    {

                        <ul class="product-gallery">

                            @foreach (var list in ProductImgList)
                            {
                                <li>
                                    <a class="gallery"></a><img src="/images/upload/@list.productImage" alt="Single Product"
                                                                style=" width:200px;  height:100px; " />
                                </li>

                            }

                        </ul>

                    }
                </div>
                <form class="form-horizontal" method="post" asp-controller="Product" asp-action="Update">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <label>상품명</label>

                             
                                <input type="hidden" class="form-control" name="productId" id="productId" value="@Model.productId" placeholder="@Model.productId"></input>
                                <input type="hidden" class="form-control" name="productView" id="productView" value="@Model.productView" placeholder="@Model.productView"></input>
                                <input type="hidden" class="form-control" name="productBrand" id="productId" value="@Model.productBrand" placeholder="@Model.productBrand"></input>
                                <input type="hidden" class="form-control" name="productImage" id="productImage" value="@Model.productImage" placeholder="@Model.productImage"></input>
                                <input type="hidden" class="form-control" name="productImagePath" id="productImagePath" value="@Model.productImagePath" placeholder="@Model.productImagePath"></input>
                                <input type="hidden" class="form-control" name="productCategoryName" id="productCategoryName" value="@Model.productCategoryName" placeholder="@Model.productCategoryName"></input>
                                <input type="hidden" class="form-control" name="memberId" id="memberId" value="@Model.memberId" placeholder="@Model.memberId"></input>
                                <input type="hidden" class="form-control" name="categoryId" id="categoryId" value="@Model.categoryId" placeholder="@Model.categoryId"></input>

                                <input type="text" class="form-control" name="productName" id="productName" value="@Model.productName" placeholder="@Model.productName"></input>

                        </div>
                    </div>
                    <div class="row">
                    <div class="form-group">
                        <label>가격</label>
                                <input type="text" class="form-control" name="productPrice" id="productPrice" value="@Model.productPrice" placeholder="@Model.productPrice"></input>
                    </div>

                            <div class="row">
                                <div class="form-group">
                        
                                        <textarea rows="10" cols="95" name="productContent"  id="productContent" style="margin-left:15px;">@Model.productContent</textarea>
                            
                        </div>
                    </div>
                          
                    <div class="row mb-20">


                             <button type="submit" class="form-control" id="update" style="color:white;
                                    background-color:black;">
                                        상품 수정
                                    </button>
                </form>

                <div class="row mb-20">

                <form class="form-horizontal" method="post" asp-controller="Product" asp-action="Delete">
                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" name="productId" id="productId" value="@Model.productId" placeholder="@Model.productId"></input>
                        <button type="submit" class="form-control" id="delete" style="color:white;
                                    background-color:black; width:615px;">
                            상품 삭제
                        </button>
                    </div>
                </form>
                </div>
                
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="product_meta">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              

                

              
            </div>
                </div>
            </div>
        </div>
    </section>


    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="module-title font-alt" style="font-size:15px;">


                        @if (@ProductImgList != null)
                        {

                            @foreach (var list in ProductImgList)
                            {

                                <img src="/images/upload/@list.productImage" alt="Single Product Image"
                                     style=" width:1600px;  height:750px; margin-left:-50px; " />
                                <br />

                                <br />  <br />

                                <br />



                            }
                        }

                        <img src="/images/upload/사이즈.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:-50px; " />

                        <br /><br />



                        <img src="/images/upload/디테일사진1.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:30px; " />

                        <br /><br />

                        <img src="/images/upload/디테일사진2.jpg" alt="Single Product"
                             style=" width:1500px;  height:800px; margin-left:30px; " />

                        <br /><br />


                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Related Products</h2>
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="assets/images/shop/product-11.jpg" alt="Accessories Pack" />
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="assets/images/shop/product-12.jpg" alt="Men’s Casual Pack" />
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">Men’s Casual Pack</a></h4>£12.00
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="assets/images/shop/product-13.jpg" alt="Men’s Garb" />
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">Men’s Garb</a></h4>£6.00
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="assets/images/shop/product-14.jpg" alt="Cold Garb" />
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">Cold Garb</a></h4>£14.00
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Exclusive products</h2>
                    <div class="module-subtitle font-serif">The languages only differ in their grammar, their pronunciation and their most common words.</div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-1.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£12.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-3.jpg" alt="Derby shoes" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-2.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-4.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-5.jpg" alt="Chelsea boots" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="assets/images/shop/product-6.jpg" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

    </main>

    
     @section scripts{

        
        <script>

        $('#update').click(function () {

           

            if ($('#productName').val() =="") { 
                
                    alert('상품명을 입력하세요');
                    return false;

                }

            if ($('#productPrice').val() =="") {

                    alert('상품가격을 입력하세요');
                    return false;
          
            }



            if ($('#productContent').val() =="") {

                    alert('상품내용을 입력하세요');
                    return false;
                }

                    return true;
            });


            $('#delete').click(function () {

                if (!confirm("정말 예약취소 하시겠습니까?\n확인(예) 또는 취소(아니오)를 선택해주세요.")) {
                    return false; //아니오 버튼 클릭 시 이벤트
                } else

                    return true;
            });


       

        
            </script>
               
               }
           
                            
                            